<% content_for :page_title do %>Sign In<% end %>

<% form_tag({}, {:class => "offset-by-six sign-in"}) do %>
  <%= label_tag :email %>
  <%= text_field_tag :email, :required => true %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag "Sign In" %> or <a href="<%= url_for(:user, :signup) %>">Sign Up</a>
  <hr />
  <a class="small-red" href="<%= url_for(:user, :forgot_password) %>">Forgot password?</a>
<% end %>

