{% extends 'user.html.twig' %}

{% block title %}Account Settings{% endblock %}
{% block page_title %}<span>Account Settings</span>{% endblock %}

{% block body %}
  {{ form_start(form, {'attr': {'class': 'offset-by-six sign-in'}}) }}
    {{ form_label(form.current_password) }}
    {{ form_widget(form.current_password) }}
    {{ form_errors(form.current_password) }}

    {{ form_label(form.new_password.password) }}
    {{ form_widget(form.new_password.password) }}
    {{ form_errors(form.new_password.password) }}

    {{ form_label(form.new_password.confirm) }}
    {{ form_widget(form.new_password.confirm) }}
    {{ form_errors(form.new_password.confirm) }}

    {{ form_widget(form.save) }}
  {{ form_end(form) }}
{% endblock %}
