<% content_for :page_title do %><%= @pad.name %><% end %>

<p>Are you sure you want to delete <%= @pad.name %>?</p>
<%= form_for :pad do |f| %>
  <%= f.submit "Yes, I want to delete this pad", :class => "red" %>
  <%= link_to "Cancel", notes_path %>
<% end %>
