{% extends 'base.html.twig' %}

{% block title %}{{ note.name }}{% endblock %}
{% block page_title %}<span>{{ note.name }}</span>{% endblock %}

{% block body %}
  <p class="hidden-text">Last edited at 10:32</p>
  <div class="note">
    {{ note.text }}
  </div>
  <a href="{{ path('note_edit', {'id': note.id})  }}" class="button">Edit</a>
  <a href="{{ path('note_delete', {'id': note.id})  }}" class="delete-note">Delete it</a>
{% endblock %}
