{% extends 'base.html.twig' %}

{% block title %}New pad{% endblock %}
{% block page_title %}<span>New pad</span>{% endblock %}

{% block body %}
  {{ form_start(form) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}

    <button type="submit">Create</button>
  {{ form_end(form) }}
{% endblock %}
