extends ../main

block title
  | #{title}

block content
  if notes.length
    table.notes
      tr
        th.note
          | Note
          a.sort_arrow(href='/?order=-name')  ↑
          a.sort_arrow(href='/?order=name') ↓
        th
          | Pad
        th.date
          | Last modified
          a.sort_arrow(href='/?order=-updated_at')  ↑
          a.sort_arrow(href='/?order=updated_at') ↓
      each note in notes
        tr
          td
            a(href='/notes/#{note.id}') #{note.name}
          td.pad
            if note.pad
              a(href='/pads/#{note.pad.id}') #{note.pad.name}
            else
              | No pad
          td.hidden-text.date #{note.updatedAt()}
  else
    p.empty Create your first note
  a.button(href='/notes/create') New note

