<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
    <title><%= yield_content(:page_title) %></title>
	<meta name="description" content="Notejam, Ruby on Rails">
	<meta name="author" content="komarserjio@gmail.com">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
    <%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/base.min.css", media: "all" %>
    <%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/skeleton.min.css", media: "all" %>
    <%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/layout.css", media: "all" %>
    <%= stylesheet_link_tag "style", media: "all" %>

	<!-- csrf token
  ================================================== -->
    <%= csrf_meta_tags %>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <div class="container">
    <div class="sixteen columns">
      <div class="sign-in-out-block">
        <a href="<%= url_for(:user, :signin) %>">Sign In</a>&nbsp;&nbsp;&nbsp;<a href="<%= url_for(:user, :signup) %>">Sign Up</a>
      </div>
    </div>
    <div class="sixteen columns">
      <h1 class="bold-header">
        <a href="<%= url_for(:note, :all_notes) %>" class="header">note<span class="jam">jam: </span></a>
        <span><%= yield_content(:page_title) %></span>
      </h1>
    </div>
    <div class="sixteen columns content-area">
      <div class="alert-area">
        <% flash.each do |name, msg| -%>
        <div class="alert alert-<%= name %>"><%= msg %></div>
        <% end -%>
      </div>
      <%= content_for?(:content) ? yield_content(:content) : yield %>
    </div>
    <hr class="footer" />
    <div class="footer">
      <div>Notejam: <strong>Padrino</strong> application</div>
      <div><a href="https://github.com/komarserjio/notejam">Github</a>, <a href="https://twitter.com/komarserjio">Twitter</a>, created by <a href="https://github.com/komarserjio/">Serhii Komar</a></div>
    </div>
  </div><!-- container -->
  <a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
</body>
</html>
