<% content_for :page_title do %>All notes (<%= @notes.count %>)<% end %>
<% if @notes.count.nonzero? %>
<table class="notes">
    <tr>
        <th class="note">Note <a href="<%= all_notes_path + "?order=name" %>" class="sort_arrow">↑</a><a href="<%= all_notes_path + "?order=-name" %>" class="sort_arrow">↓</a></th>
        <th>Pad</th>
        <th class="date">Last modified <a href="<%= all_notes_path + "?order=updated_at" %>" class="sort_arrow">↑</a><a href="<%= all_notes_path + "?order=-updated_at" %>" class="sort_arrow">↓</a></th>
    </tr>
    <% @notes.each do |note|  -%>
    <tr>
        <td><%= link_to note.name, view_note_path(:id => note.id) %></td>
        <td class="pad">
            <% if note.pad %> 
                <%= link_to note.pad.name, edit_pad_path(:id => note.pad.id) %>
            <% else %> 
                No pad
            <% end %> 
        </td>
        <td class="hidden-text date"><%= smart_date note.updated_at %></td>
    </tr>
    <% end -%>
</table>
<% else %>
    <p class="empty">No notes yet.</p>
<% end %>
<%= link_to "Create a note", create_note_path, :class => "button" %>
