<% content_for :page_title do %>Sign Up<% end %>

<%= form_for :user, :html => {:class => "offset-by-six sign-in"} do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= field_errors :email, @user %>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= field_errors :password, @user %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= field_errors :password_confirmation, @user %>

  <%= f.submit "Sign Up" %> or <a href='<%= signin_path %>'>Sign in</a>
<% end %>
