<% content_for :page_title do %>All notes (<%= @notes.count %>)<% end %>
<% if @notes.count.nonzero? %>
  <table class="notes">
    <tr>
      <th class="note">Note <a href="<%= url(:note, :all_notes, :order => "-name") %>" class="sort_arrow">↑</a><a href="<%= url(:note, :all_notes, :order => "name") %>" class="sort_arrow">↓</a></th>
      <th>Pad</th>
      <th class="date">Last modified <a href="<%= url(:note, :all_notes, :order => "-updated_at") %>" class="sort_arrow">↑</a><a href="<%= url(:note, :all_notes, :order => "updated_at") %>" class="sort_arrow">↓</a></th>
    </tr>
    <% @notes.each do |note| -%>
    <tr>
      <td><%= link_to note.name, url(:note, :view, :id => note.id) %></td>
      <td class="pad">
        <% if note.pad %>
          <%= link_to note.pad.name, url(:pad, :view, :id => note.pad.id) %>
        <% else %>
          No pad
        <% end %>
      </td>
      <td class="hidden-text date"><%= smart_date note.updated_at %></td>
    </tr>
    <% end -%>
  </table>
<% else %>
  <p class="empty">Create your first note.</p>
<% end %>
<%= link_to "New note", url(:note, :create), :class => "button" %>

