<% content_for :page_title do %><%= @note.name %><% end %>

<p class="hidden-text">Last edited: <%= smart_date @note.updated_at %></p>
<div class="note">
  <p>
    <%= @note.text %>
  </p>
</div>
<%= link_to "Edit", url(:note, :edit, :id => @note.id), {:class => "button"} %>
<%= link_to "Delete", url(:note, :delete, :id => @note.id), {:class => "delete-note"} %>

