<h1>User#signup</h1>
<p>Find me in app/views/user/signup.html.erb</p>

<%#<form class="offset-by-six sign-in">%>
    <%#<label for="regularInput">Email</label>%>
    <%#<input type="text" id="regularInput">%>
    <%#<label for="regularInput">Password</label>%>
    <%#<input type="password" id="regularInput">%>
    <%#<label for="regularInput">Confirm password</label>%>
    <%#<input type="password" id="regularInput">%>
    <%#<button type="submit">Sign Up</button>%>
<%#</form>%>

<%= form_for :user do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= field_errors :email, @user %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>
 
  <p>
    <%= f.submit "Sign Up" %>
  </p>
<% end %>
